{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <form action="/quote" method="post">
        <input autocomplete="off" style="display: inline" name="symbol" placeholder="{{ stock['symbol'] }}" class="form-control mx-auto w-auto" type="text">
        <input type="submit" value="Look up" class="btn btn-primary">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>{{stock["name"]}}</td>
            <td>{{stock["price"]}}</td>
        <tr>
    </table>
{% endblock %}